@import url('https://fonts.cdnfonts.com/css/devil-breeze');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/bimbo');
@import url('https://fonts.cdnfonts.com/css/offon');
@import url('https://fonts.cdnfonts.com/css/pozo');
@import url('https://fonts.cdnfonts.com/css/vtks-good-luck-for-you');
@import url('https://fonts.cdnfonts.com/css/motel-vacancy');
@import url('https://fonts.cdnfonts.com/css/arcade');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #1c1338;
    color: #eef8ce;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-image:
    url(img/bg.png),
    repeating-linear-gradient(
        to right, transparent 0 500px, #73814B33 500px 501px
    );
    background-size: 100%;
}
body::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    left: 60%;
    top: 138px;
    filter: blur(90px);
    background-color: #813168;
    z-index: -2;
}
body::after{
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 30%;
    top: 550px;
    background-color: #356b83;
    filter: blur(80px);
}
*::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-fit {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 10em;
}
header {
    padding-block: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10px;
    backdrop-filter: blur(20px);
    z-index: 100;
    background-color: #1B1B1B11;
    background-image: repeating-linear-gradient(
        to right, transparent 0 500px, #eee1 500px 501px
    );
}
header .content-fit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: unset!important;
    padding-block: unset!important;
}
header .content-fit nav ul {
    display: flex;
    gap: 2em;
}
a {
    color: #dddddd;
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 1px dashed #8d8d8d;
}
a:hover {
    color: #5ffd50;
    transition: 0.2s;
}
li {
    font-family: monospace;
}

.logo {
    font-family: 'Doto';
    font-weight: 800;
    font-size: 1.5em;
    color: #dddddd;
    transition: 0.2s;
}
.logo:hover {
    color: #fff;
    transition: 0.2s;
}
#banner .title {
    color: #8b95cc;
    font-size: 8em;
    font-family: "Devil Breeze";
    font-weight: bold;
    position: relative;
    text-align: center;
    z-index: -1;
    text-shadow: 0px 0px 0 rgb(68,87,181),
                 -1px -1px 0 rgb(61,80,174),
                 -2px -2px 0 rgb(55,74,168),
                 -3px -3px 0 rgb(48,67,161),
                 -4px -4px 0 rgb(41,60,154),
                 -5px -5px 0 rgb(34,53,147),
                 -6px -6px 0 rgb(28,47,141),
                 -7px -7px 0 rgb(21,40,134),
                 -8px -8px 0 rgb(14,33,127),
                 -9px -9px 0 rgb(7,26,120),
                 -10px -10px 0 rgb(1,20,114),
                 -11px -11px 0 rgb(-6,13,107),
                 -12px -12px 0 rgb(-13,6,100),
                 -13px -13px  0 rgb(-20,-1,93),
                 -14px -14px 13px rgba(0,0,0,0.57),
                 -14px -14px 1px rgba(0,0,0,0.5),
                 0px 0px 13px rgba(0,0,0,.2);
}
.life {
    color: #8d8d8d;
    transition: 0.2s;
}
.life:hover {
    color: #fff;
    transition: 0.2s;
}
#banner .title:before {
    content: attr(data-before);
    position: absolute;
    top: 20%;
    inset: 0.66em 0 0 0;
    color: #6578d6;
    font-size: 1.4em;
}
.section .decorate {
    position: absolute;
}
#intro .content-fit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30%;
}
.section .number {
    font-family: monospace;
    font-size: 15em;
    font-weight: bold;
    text-shadow: 0px 0px 0 rgb(223,223,223),
                 -1px 1px 0 rgb(205,205,205),
                 -2px 2px 0 rgb(188,188,188),
                 -3px 3px 0 rgb(170,170,170),
                 -4px 4px 0 rgb(153,153,153),
                 -5px 5px 0 rgb(135,135,135),
                 -6px 6px 0 rgb(118,118,118),
                 -7px 7px 0 rgb(100,100,100),
                 -8px 8px  0 rgb(83,83,83),
                 -9px 9px 8px rgba(0,0,0,0.81),
                 -9px 9px 1px rgba(0,0,0,0.5),
                 0px 0px 8px rgba(0,0,0,.2);
}
.section .content-fit .title {
    font-family: 'Bimbo';
    font-size: 5em;
    font-weight: bold;
    text-shadow: 0px 0px 0 rgb(223,223,223),
                 1px 1px 0 rgb(205,205,205),
                 2px 2px 0 rgb(188,188,188),
                 3px 3px 0 rgb(170,170,170),
                 4px 4px 0 rgb(153,153,153),
                 5px 5px 0 rgb(135,135,135),
                 6px 6px 0 rgb(118,118,118),
                 7px 7px 0 rgb(100,100,100),
                 8px 8px  0 rgb(83,83,83),
                 9px 9px 8px rgba(0,0,0,0.81),
                 9px 9px 1px rgba(0,0,0,0.5),
                 0px 0px 8px rgba(0,0,0,.2);
}
.blahaj {
    font-family: monospace;
}
#description .content-fit {
    padding-right: 30%;
}
#description::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    left: 10%;
    top: 138px;
    filter: blur(90px);
    background-color: #0e4b2a;
}
#description::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    left: 80%;
    top: 50px;
    background-color: #684c17;
    filter: blur(80px);
}

#description .number {
    font-size: 5em;
    text-shadow: 0px 0px 0 rgb(223,223,223),
                 -1px 1px 0 rgb(205,205,205),
                 -2px 2px 0 rgb(188,188,188),
                 -3px 3px 0 rgb(170,170,170),
                 -4px 4px 0 rgb(153,153,153),
                 -5px 5px 0 rgb(135,135,135),
                 -6px 6px 0 rgb(118,118,118),
                 -7px 7px 0 rgb(100,100,100),
                 -8px 8px  0 rgb(83,83,83),
                 -9px 9px 8px rgba(0,0,0,0.81),
                 -9px 9px 1px rgba(0,0,0,0.5),
                 0px 0px 8px rgba(0,0,0,.2);
}
#description .title {
    font-size: 7em;
    font-weight: 500;
}

.card {
  position: relative;
  left: -10%;
  height: 28rem;
  width: 20rem;
  aspect-ratio: 3/4;
  color: #ffffff;
  perspective: 50rem;
}
.card .shadow {
  position: absolute;
  inset: 0;
  background: var(--url);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: blur(2rem) saturate(0.9);
  box-shadow: 0 -1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.7);
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 2rem, -2rem);
}
.card .image {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 40%), var(--url);
  background-size: cover;
  background-position: center;
  -webkit-mask-image: var(--url);
          mask-image: var(--url);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
}
.card .image.background {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 0rem);
}
.card .image.cutout {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 4rem) scale(0.92);
  z-index: 3;
}
.card .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inset: 0;
  padding: 3.5rem;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 6rem);
  z-index: 4;
}
.card::after, .card::before {
  content: "";
  position: absolute;
  inset: 1.5rem;
  border: #9572d8 0.5rem solid;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 2rem);
}
.card::before {
  z-index: 4;
}
.card.border-left-behind::before {
  border-left: transparent;
}
.card.border-right-behind::before {
  border-right: transparent;
}
.card.border-bottom-behind::before {
  border-bottom: transparent;
}

#contact .content-fit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#contact table {
    width: min(800px, 90vw);
    padding-top: 2em;
    font-size: 2em;
    margin: auto;
}
table::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    left: 10%;
    top: 338px;
    filter: blur(90px);
    background-color: #972e31;
}
table::after{
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 80%;
    top: 550px;
    background-color: #30a37d;
    filter: blur(80px);
}

#contact table td {
    padding-block: 0.5em;
    border-bottom: 1px dashed #a3a3a3;
}
#contact table td:nth-child(1) {
    text-align: left;
    font-weight: 500;
}
#contact table td:nth-child(2) {
    text-align: right;
    font-weight: 200;
    font-family: 'Doto';
    font-weight: 400;
    font-size: 0.8em;
}
#contact .sign {
    font-family: 'Bimbo', sans-serif;
    font-size: 10em;
    margin-bottom: -1em;
}

body .footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigate {
    display: flex;
}
.footer-navigate .nav {
    margin-left: 150%;
}
.footer-navigate .nav h5 {
    margin: 0;
    font-family: "Doto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer-navigate .nav p {
    font-family: "Doto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #D7D7D7;
}

.footer2 p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: #828282;
}

#container3D {
    position: fixed;
    inset: 0;
    z-index: 100;
    pointer-events: none;
}

@media screen and (max-width: 1023px) {
    #banner .title {
        font-size: 5em;
    }
    #intro .content-fit {
        flex-direction: column;
    }
}
@media screen and (max-width: 767px) {
    .header {
        left: -50%;
    }
    #description .title {
        font-size: 3em;
    }
    #banner .title {
        font-size: 3em;
    }
    #intro .content-fit {
        flex-direction: column;
    }
    .section .number {
        font-size: 5em;
    }
    .section .content-fit .title {
        font-size: 2em;
    }
    #description .content-fit {
        padding-right: 0;
    }
    #contact table {
        font-size: 1em;
    }
    #contact .sign {
        font-size: 2em;
    }
    #container3D {
        position: absolute;
    }
}